{% extends "base.html" %}
{% load static %}

{% block content %}

    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">用例通过相关</h3>

            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                    <i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn btn-tool" data-card-widget="remove">
                    <i class="fas fa-times"></i>
                </button>
            </div>
        </div>
        <div class="card-body">
            <div class="chart">
                <div id="areaChart"
                        style="min-height: 250px; height: 450px; max-height: 450px; max-width: 100%;"></div>
            </div>
        </div>
        <!-- /.card-body -->
    </div>
{% endblock %}



{% block js %}

    <script src="{% static 'echarts.min.js' %}"></script>
    <script>
        function pie(title,data){
            //1.实例化 echarts 对象
        PieObj =echarts.init(document.getElementById("areaChart"));
        //2.
        PieObjoption = {
            title: {
                text: title,
                subtext: '最新一次用例执行',
                left: 'center'
            },
            tooltip: {
                trigger: 'item'
            },
            legend: {
                orient: 'vertical',
                left: 'left',

            },
            series: [
                {
                    name: '测试用例',
                    type: 'pie',
                    radius: '50%',
                    data: data,
                    emphasis: {
                        itemStyle: {
                            shadowBlur: 10,
                            shadowOffsetX: 0,
                            shadowColor: 'rgba(0,0,0,0.5)'
                        }
                    }
                }
            ]
        };
        //3.
        PieObj.setOption(PieObjoption);
        }

        function init(){
            $.ajax({
                "url":{% url 'show_tab' %},
                "type":"POST",
                "data":{},
                success:function (data) {
                    console.log('1111111')
                    pie(data['pie']['title'],data['pie']['data'])
                }
            })
        }

        init()
    </script>
{% endblock %}